.listnewPage {
  .new_list {
    max-width: 500px;
    margin: 100px auto 0;
  }
}

.submitBtn {
  background: #29b744;
  color: #fff;
  width: 200px;
  margin-top: 20px;
  padding: 10px;
  border-radius: 90px;
  transition: opacity .5s;
  &:hover {
    opacity: .6;
  }
}
